h2 {
    font-family: "Axis";
    font-size: 4rem;
}

p {
    font-size: 2.5rem;
    font-family: "Segoe UI Light", sans-serif;
}
.jumbotron .row {
    padding: 2em;
}

.jumbotron h1 {
    color: #aaa;
    font-size: 7rem;
    font-family: "Segoe UI Light";
}

.jumbotron .row h2 {
    color: #d2cc28;
    font-size: 3.5rem;
}

.h3 {
    font-family: serif;
    font-size: 7rem;
    color: #000;
}

.special-h {
    font-style: italic;
}

.project-image {
    width: 100%;
}