/*
Color Palette
- navy/slate blue: #2b2944
- gold"ish": #d2cc28
- mint: #2be772

*/

.navbar {
    /*background-color: #dddddd;*/
    padding-left: 5%;
    background-color: #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px;
}

.navbar-brand {
    margin-top: -1em;
}

.navbar-toggle {
    background-color: #bababa;
}

.icon-bar {
    background-color: #efefef;
}

#sergix-toggle-nav ul li a {
    font-size: 1.5rem;
    font-family: "Segoe UI", sans-serif;
}