body {
    background-color: #fff;
}

header {
    margin-left: -0.5em;
    margin-top: -1.4em;
    margin-right: -0.5em;
    height: 3.6em;
    background-color: #fff;
    border-bottom: 2px solid #dcdcdc;
}

a {
    text-decoration: none;
    display: block;
}

header nav {
    margin-top: -5.4em;
    margin-left: 15em;
}

header nav ul li {
    float: left;
    width: 6em;
    height: 58px;
    list-style-type: none;
    text-align: center;
    /*background-color: #5cc;*/
    background-color: #fff;
}

header nav ul li:hover {
    background-color: #dcdcdc;
}

header nav ul li a {
    margin-top: 1em;
    font-family: 'Segoe UI';
    font-size: 13pt;
    /*color: #55c6c6;*/
    color: #000;
}

header nav ul li a:hover {
    color: #fff;
}

header nav ul #last {
    float: right;
}
header nav ul #last a:hover {
    color: #1ab591;
}

#main #slideshow {
    border-bottom: 2px solid #25e7ba;
}

#main #slideshow img {
    margin-left: -0.5em;
    width: 100.90%;
    border-bottom: 1px solid #e8e8e8;
}

#main #slideshow #slide1 p {
    text-align: center;
    font-family: 'Microsoft YaHei UI';
    font-size: 19pt;
}

#content #new-content #new-project {
    width: 277px;
    height: 277px;
    float: left;
    background-image: url("/img/new-project-1.png");
}