.jumbotron {
    background-image: url('img/jumbotron-large-blur.png');
    background-size: cover;
    padding-bottom: 9em;
    padding-top: 9em;
}

.jumbotron h1 {
    color: #fff;
    font-family: "Adamas", Helvetica, sans-serif;
    font-size: 9rem;

    animation-delay: 2s;
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;

    animation-duration: 3s;
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -o-animation-duration: 3s;
}

.jumbotron h3 {
    color: #dbdbdb;
    font-size: 4rem;
    font-family: "Prime Light", Tahoma, sans-serif;

    animation-duration: 3s;
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -o-animation-duration: 3s;
}

.dev-text h2 {
    color: #2b2944;
    font-family: "Axis";
    font-size: 4rem;
}

.info-section h3 {
    color: #2be772;
    font-size: 2.5rem;
    font-family: "Segoe UI Semibold", sans-serif;
}

.info-section p {
    font-size: 1.5rem;
    font-family: "Segoe UI", sans-serif;
}

.project-list {
    margin-top: 10rem;
}

.project-image img {
      width: 100%;
}
