.jumbotron {
    background-image: url('img/jumbotron-large-blur.png');
    background-size: cover;
    padding-bottom: 15rem;
    padding-top: 15rem;
}

.jumbotron .tools img {
    width: 40%;
    margin-bottom: 2em;

    animation-duration: 3s;
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -o-animation-duration: 3s;
}

.jumbotron .focus img {
    width: 50%;

    animation-delay: 3s;
    -moz-animation-delay: 3s;
    -webkit-animation-delay: 3s;
    -o-animation-delay: 3s;

    animation-duration: 3s;
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -o-animation-duration: 3s;
}

.info .dev-text {
    padding: 0 3em 0 3em;
}