* { box-sizing: border-box; }


/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  width: 100%;
  padding: 10px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 0px;
}

.jumbotron h1 {
    width: 10%;
    color: #4F4F4F;
    font-size: 6rem;
    padding: 2em 0 1em 0em;
    font-family: "Adamas", "Panton Light Italic", Helvetica, sans-serif;
}

.jumbotron {
    background-image: url('/img/jumbotron-design.png');
    background-size: cover;
}