* { box-sizing: border-box; }

.grid {
    width: 90%;
    margin-left: 5%;
}
/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item { width: 25%; }

.grid-item--width2 { width: 50%; }

.grid-item img {
  display: block;
  width: 100%;
  padding: 10px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 0px;
}

.jumbotron h1 {
    width: 10%;
    color: #4F4F4F;
    font-size: 6rem;
    padding: 2em 0 1em 0em;
    font-family: "Adamas", "Panton Light Italic", Helvetica, sans-serif;
}

.jumbotron {
    background-image: url('/img/jumbotron-design.png');
    background-size: cover;
}

.image-info h2 {
    font-family: 'Panton Light Italic';
    font-size: 18pt;
}